<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>This is home page</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae consequuntur culpa facere quasi quaerat magnam perspiciatis dolorem, quibusdam omnis dicta saepe similique rem provident laborum ratione quia architecto ducimus exercitationem?
    <h3><%= 10*30%></h3>
</body>
</html>